---
layout: layouts/base.njk
---

<div class="container-sm">
  <h1>{{ title }}</h1>
  <p> Posted by <a href="https://twitter.com/ryokavertikal"><b>Ryoka</b></a> on: <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time></p>
  {{ content | safe }}

  <br><hr>
  {% if not hideTagsList %}
    <b>Tags: </b>
    {% for tag in tags %}
      {% if tag != 'post' %}
        <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
        {%- if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <br><br>
  <a href="{{ '/' | url }}">&larr; Back home</a>
</div>
